@@ -0,0 +1,298 @@
﻿<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Honor Yoga</title>
    <meta name="description" content="Website for Honor Yoga Studio, Graham, TX">
    <meta name="author" content="Patrick Moore">

    <!-- Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- FONT –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- Favicon –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/ico" href="images/favicon.ico" />

    <!-- JS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="js/clndr.min.js"></script>
    <script src="js/scrollwatch.js"></script>
    <script src="js/custom.js"></script>
</head>

<body>

<!-- - - - - - - - - NAV - - - - - - - - - - - -->
<div id="nav">
    <div>
        <div id="nav__inner">
            <ul>
                <li>
                    <svg id="logoHeader" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="108 10 215 350" version="1.1">
                        <path style="fill:none;stroke-width:7;stroke-linecap:butt;stroke-linejoin:miter;;stroke-opacity:1;stroke-miterlimit:10;" d="M 0.00138125 0.0013625 C -0.459556 -11.799419 -0.279869 -21.2252 0.00138125 -27.861919 C 0.267006 -34.186138 0.642006 -38.377544 0.849037 -40.522075 C 1.1381 -43.518169 1.677162 -48.951763 2.829506 -55.358013 C 4.536537 -64.858013 5.395912 -69.615825 7.782631 -74.717388 C 9.282631 -77.920513 14.161537 -88.377544 20.403725 -89.201763 C 29.188881 -90.361919 33.606...(line truncated)...
                    </svg>
                </li>
                <li id="headerBullet"><h1><a href="#summary">HONOR YOGA</a></h1></li>
                <svg class="menuSmall u-pull-right closed" height="32px" id="btnMenu" viewBox="0 0 32 32" width="32px">
                    <path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z" />
                </svg>
                <li class="menuHide"><a href="#about">About Us</a></li>
                <li class="menuHide"><a href="#classes">Rates & Classes</a></li>
                <li class="menuHide"><a href="#calendar">Schedule</a></li>
                <li class="menuHide"><a href="#w2e">What To Expect</a></li>
                <li class="menuHide"><a href="#instructors">Instructors</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- - - - - - - - - LANDING PAGE - - - - - - - - - - - -->
<div class="page page-full" id="summary">
    <div class="container">
        <div class="row">
  <div class="columns twelve">
    <div id="quote__container">
    
      <p class="quote">
          “If you want to conquer the anxiety of life, live in the moment,          <span>
              live in the breath."          </span>
      </p>

      <p class="quote quoteAuthor">
          ― Amit Ray      </p>

    </div>
  </div>
</div>        <div class="row" id="emailList">
            <div class="columns twelve">
                <h5>Want schedule updates? Join our mailing list!</h5>
            </div>
        </div>
        <div class="row" id="form">
            <form action="//honoryogastudio.us10.list-manage.com/subscribe/post?u=445928caa35d41200bfd99b6c&amp;id=06ff3a464a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
                <div class="row">
                    <div class="columns four">
                        <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                        </label>
                        <input class="u-full-width" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                    </div>
                    <div class="columns four">
                        <label for="mce-FNAME">First Name </label>
                        <input class="u-full-width" type="text" value="" name="FNAME" class="" id="mce-FNAME">
                    </div>
                    <div class="columns four">
                        <label for="mce-LNAME">Last Name </label>
                        <input class="u-full-width" type="text" value="" name="LNAME" class="" id="mce-LNAME">
                    </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <div style="position: absolute; left: -5000px;">
                        <input type="text" name="b_445928caa35d41200bfd99b6c_06ff3a464a" tabindex="-1" value="">
                    </div>
                    <div class="clear">
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe btnSubmit" class="button u-pull-right">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- - - - - - - - - ABOUT US PAGE - - - - - - - - - - - -->

<div class="page" id="about">
    <div class="container">
        <div class="row">
  <div class="columns six">
      <h2>About Us</h2>
      <p>Honor Yoga is a welcoming, accessible space that encourages students to grow their yoga practice. Whether you are new to yoga or have a long practice, we believe that you learn something new each time you step on your mat.</p>
<p>Classes will focus on breathing while maintaining postures, building confidence and a mind/body connection. Honor Yoga is grateful to be able to share our passion of yoga with you.</p>
<p>Contact Information:</p>
<ul>
<li>214.435.7531</li>
<li>kristina@honoryogastudio.com</li>
</ul>  </div>
  <div class="columns six">
      <h2>Location</h2>
      <a target="_blank" href="https://www.google.com/maps/place/926+US-380,+Graham,+TX+76450">
          <img class="u-full-width" src='https://maps.googleapis.com/maps/api/staticmap?center=Graham,TX&size=400x300&scale=2&markers=926+US-380,Graham,TX,76450&key=AIzaSyC_7UNAPoRq1tznaaxMBbWW6RIJ1ItGxR0' alt="">
          <p>926 Highway 380 Bypass, Graham, TX 76450</p>
      </a>
  </div>
</div>    </div>
</div>
<div class="page bg-accent" id="classes">
    <div class="container">
        <div class="row">
  <div class="columns twelve">
    <h2>Classes</h2>
    <p>All classes are $10 each. We are currently accepting cash or check payable at the time of your class.</p>  </div>
</div>
<div class="row" id="gClasses">
  <div class="columns six">
    <h5>Vinyasa Flow</h5>
<p>An active form of yoga, Vinyasa Flow coordinates breath and movement. This class includes simple movements and gentle stretching to increase range of motion and flexibility. Poses are held for several breaths to achieve proper alignment, and full benefit of the pose. It is an ideal class for beginners, as well as practiced yogis, as it will help muscle/joint pain, stiffness, weakness and fatigue. Depending on the instructor, the flow can be quick or slower paced.</p>  </div>

  <div class="columns six">
    <h5>Power Flow</h5>
<p>Power yoga uses the methodology of a Vinyasa Flow class, but tends to be a bit more challenging incorporating slightly more advanced poses. Just as in Vinyasa Flow, students are asked to hold poses for a series of breaths to gain strength and flexibility. Power Flow doesn’t follow a set series, so each class will vary. All of our instructors know modifications, but it is helpful to have a basic yoga knowledge for Power Flow.</p>  </div>
</div>    </div>
</div>


<!-- - - - - - - - - CALENDAR PAGE - - - - - - - - - - - -->
<div class="page" id="calendar">
    <div class="container">
        <div class="row">
            <div class="columns twelve">
                <h2>
          Schedule
        </h2>
                <p id="calText">Select a day below</p>
            </div>
        </div>
        <div class="row">
            <div class="columns eight" id="cal">
                <!-- calendar will go here -->
            </div>
            <div class="columns four" id="event">
                <!-- events will go here -->
            </div>
        </div>
    </div>
</div>

<!-- - - - - - - - - WHAT TO EXPECT PAGE - - - - - - - - - - - -->
<div class="page" id="w2e">
    <div class="container" id="w2eInner">
        <div class="row">
  <div class="columns twelve">
    <h2>What To Expect</h2>
  </div>
</div>
<div class="row">
  <div class="columns six">
    <h5>What To Know</h5>
<ul>
<li>Please arrive at least 5 minutes prior to class. This will enable you to find a space for your mat &amp; settle in before class begins. Instructors will lock the front door once class starts for security.</li>
<li>Most classes are conducted in a heated 85 degree room with added humidity. Why? Our classes will detox the body, increase your mental concentration, help you relax, deepen your breathing and build physical strength. A warm studio allows for the body to move deeper and more safely into each posture. You will be hooked on the mental and physical results!</li>
<li>Ask questions, please. Our instructors are here for you and your practice. We want you to feel comfortable and enjoy your practice.</li>
</ul>  </div>
  <div class="columns six">
    <h5>What To Bring:</h5>
<ul>
<li>A mat (we will provide a basic version, so really a personal preference)</li>
<li>A bottle of water</li>
</ul>
<h5>What To Wear:</h5>
<ul>
<li>Flexible, breathable pants</li>
<li>A top that you feel comfortable in, but can bend over without movement</li>
<li>We ask that you remove your shoes in the equipment room or the hallway. NO SHOES in the studio, please.</li>
</ul>  </div>
</div>    </div>
</div>

<!-- - - - - - - - - INSTRUCTORS PAGE - - - - - - - - - - - -->
<div class="page" id="instructors">
    <div class="container">
        <div class="row">
            <div class="columns twelve">
                <h2>Instructors</h2>
            </div>
        </div>
        <div class="row">
            <div class="columns three">
                <ul>
                                                                                        <li data-target="#intLori"class="active">                             Lori                        </li>
                                                                    <li data-target="#intAngie">                             Angie                        </li>
                                                                    <li data-target="#intKristina">                             Kristina                        </li>
                                                                    <li data-target="#intLydia">                             Lydia                        </li>
                                                                    <li data-target="#intMardi">                             Mardi                        </li>
                                    </ul>
            </div>
                            <div class="columns nine instructor" id="intLori">                    <img src="images/loriC.jpg">                    <p>Yoga taught me at one of the most pivotal times in my life to be still and to look inward. This practice has given me the tools to just be present. I teach a Baptiste Power Vinyasa Flow because I love the combination of the physicality of this sequence and the stillness. My motivation as a teacher is to inspire and empower others regardless of experience, age, ...(line truncated)...
<p>I have a 200 Hour certification from IYTTS. I am currently teaching at Indigo Yoga in Fort Worth. I also volunteer in the Indigo Yoga outreach program at the Katz Breast Cancer Center. I have completed the Baptiste Advanced Art of Assisting in Miami, FL. I attended the Baptiste Immersion at Yoga Journal and have studied under Master Teacher Brooke Hamblet. I have also studied with Health and Wellness Coach and Baptiste Teacher Leah Cullis on Your True North Alignment. I am planning on attending Baptiste ...(line truncated)...
                            <div class="columns nine instructor" id="intAngie">                    <img src="images/angieC.jpg">                    <p>In 2008, I took my first Yoga class. Having a background in dance growing up and later on teaching dance, I have always loved to stretch and work on flexibility. So...I thought, I would enjoy Yoga from that aspect, however, I became very inspired by the strength and mental focus of Yoga. I love leaving a class feeling tired and sweaty, but totally relaxed. I ...(line truncated)...
<p>Since then I have taught Yoga classes at a group fitness gym, a Crossfit gym and to high school athletics. I usually teach a Vinyasa Flow, but love to mix things up occasionally. As a stay home mother of 3, it is nice to have a part-time job in fitness. I am certified in 6 different types of workouts, all very different, Yoga is and will always be one of my favs!</p>                </div>
                            <div class="columns nine instructor" id="intKristina">                    <img src="images/kristinaC.jpg">                    <p>I began practicing yoga 14 years ago in Dallas at American Power Yoga. I fell in love with the balance, strength and calming nature of yoga. Yoga is a powerful tool for the body, but also the mind. Whatever stage you are in your practice, each time you step on that mat you learn something new.</p>
<p>Our family made the decision to move to Graham. At the time, yoga was not offered at any of the wellness facilities. I made the decision to become certified and teach in Graham. I have been teaching on and off for 7 years. Teaching is a wonderful way to share my passion of yoga with others.</p>
<p>I am a wife, a mother of three great kids, a volunteer &amp; now a business owner. I am thrilled to have a dedicated yoga studio in Graham. I encourage everyone to try yoga whatever your fitness level.</p>                </div>
                            <div class="columns nine instructor" id="intLydia">                    <img src="images/lydiaC.jpg">                    <p>I began practicing yoga after experiencing lower back pain for several months, and reaching the age when muscles ache and joints complain. Decades of activity in all sports growing up and into my adult life was beginning to take its toll. The conventional methods of exercise only compounded my aches and pain. I knew that I needed an exercise program that was ...(line truncated)...
<p>I never intended to teach. I attended Baptiste Power Yoga Teacher Training (200RYT), in 2013, only as a way to deepen my practice. However, with the encouragement of friends, I began teaching that year. I discovered that I enjoy teaching and helping others to find their own strength, flexibility and confidence.</p>
<p>My husband, Larry, and I enjoy traveling in our motorhome and visiting our four grandchildren.</p>                </div>
                            <div class="columns nine instructor" id="intMardi">                    <img src="images/mardiC.jpg">                    <p>Hi! My name is Mardi Andrews and I am a pre-k teacher, yoga teacher, and essential oil ninja!! I started doing yoga 5 years ago and received my RYT 200 certification in May 2014. My training is in Baptiste Power Vinyasa Flow. Yoga has been a major part of my health and well being, and I love to share it with everyone!!</p>
<p>I've been married to my husband Randy for 29 years, and I have 4 kids and 2 grandsons. Namaste!!</p>                </div>
                    </div>
    </div>
</div>


<!-- - - - - - - - - JS Templates - - - - - - - - - - - -->
<!-- CALENDAR TEMPLATE -->
<script id="calendar-template" type="text/template">
  <div class="controls">
    <div class="clndr-previous-button"><h3>&lsaquo;</h3></div><div class="month"><h3><%= month %></h3></div><div class="clndr-next-button"><h3>&rsaquo;</h3></div>
  </div>
  <div class="days-container">
    <div class="days">
      <div class="headers">
        <% _.each(daysOfTheWeek, function(day) { %><div class="day-header"><%= day %></div><% }); %>
      </div>

      <% _.each(days, function(day) { %><% var classes = _.last(day.classes.split(" "),2); day.dateID = classes[0]; console.log(day.classes); %><div class="<%= day.classes %>" id="<%= day.dateID %>"><div class="event__inner"><%= day.day %></div></div><% }); %>
    </div>
  </div>
</script>

<!-- EVENT SIDEBAR TEMPLATE -->
<script id="event-template" type="text/template">
  <div><h2><%= events[0].strDate %></h2></div>
  <div id="eventList">
  <% _.each(events, function(event) { %><h4><%= event.strStartTime + "-" + event.strEndTime %></h4><h5><%= event.strSummary %></h5><p>Instructor: <%= event.instructor %></p><p><%= event.description %></p><% });  %>
  </div>
</script>

<!-- UPCOMING EVENT TEMPLATE -->
<script id="upcomingEvents-template" type="text/template">
  <% _.each(events, function(event) { %><div class="nextClass columns four"><h4><%= event.strDate %></h4><h5><%= event.strStartTime + "-" + event.strEndTime %></h5><p><%= event.description %></p><p><%= event.instructor %></p></div><% });  %>
</script>

<script>
  var activeInstructor = $("#instructors .active");
  var strTarg = $(activeInstructor).attr("data-target");
  $(strTarg).css("display", "inherit");
  var listItems = $("#instructors ul li");
  _.each(listItems, function(listItem){
    $(listItem).click(function(){
      $(listItems).removeClass("active");
      $(listItem).addClass("active");
      hideInstructors();
      var strTarget = $(listItem).attr("data-target");
      $(strTarget).css("display", "inherit");
    });
  });

  var hideInstructors = function() {
    $(".instructor").css("display", "none");
  };
</script>

</body>

</html>
